header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0px ;
    background-color: #ef9dd7;

    >div {
        margin-left: 20px;
    }

    >ul {
        display: flex;
        list-style: none;

        >li {
            display: flex;
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 10px;

            >a {
                text-decoration: none;
                color: #ffffff;
                text-align: center;
            }
        }
    }
    >ul>li>{
        max-width: 100px;
    }

    >ul>li:hover {
        border-radius: 10px;
        background-color: #c563b9;
        transition: 1s ease;
    }
}

.boton-logout {
    width: 70px;
    height: 50px;
    background-color: #f077f0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.boton-logout:hover {
        border-radius: 10px;
        background-color: #c563b9;
        transition: 1s ease;
}